/*留言板样式*/
body {
    background: #eaeaea;
}

.container-fluid {
    background: #218868;
}

textarea {
    border-radius: 3px;
    padding-left: 2px;
}

.inputMessage {
    border-radius: 5px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07) !important;
    overflow: hidden;
    text-align: center;
    width: 530px;
    padding-top: 10px;
    background-color: #fcfcfc;
    margin: 0 auto;
}

.input-name {
    width: 228px;
    height: 34px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    padding-left: 2px;
}

.submitMsg {
    width: 226px;
    background-color: #218868;
}

hr {
    height: 1px;
    margin: 0 0 0 0;
}

ul {
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07) !important;
    border-radius: 5px;
    background: #fcfcfc;
    list-style: none;
    padding: 10px 10px 0 10px;
    margin: 15px 10px 15px 10px;
}

li {
    height: auto;
}

li div {
    height: auto;
}

#ul {
    padding-top: 0;
}

.input-submit-limit {
    padding-bottom: 5px;
}

.input-submit-limit > span {
    width: 52px;
}

.mname {
    font-weight: bold;
    color: #218868;
}

.mmsg {
    height: auto;
    zoom: 1;
}

.li-admin {
    height: 85px;
}

.li-admin > div {
    height: 25px;
}

.mname-admin {
    font-weight: bold;
    color: red;
}

#totalPage, #totalCount, #input-page, #input-rows {
    text-align: center;
    height: 33px;
    width: 33px;
}

.page-ul {
    cursor: pointer;
    padding: 0 0 0 0;
    margin: 0;
}

.b1 {
    width: 550px;
    margin: 0 auto;
}
.b1 nav {
    text-align: center;
}

.bar {
    font-size: 30px;
    color: #fff!important;
}

.del-btn {
    background: #dc3545;
    float:right;
    color: #ffffff;
    padding: 3px 8px;
    cursor: pointer;

}